asn1crypto==0.24.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
enum34==1.1.6
futures==3.2.0
idna==2.6
MySQL-python==1.2.5
numpy==1.14.5
psutil==5.4.6
pycosat==0.6.3
pycparser==2.18
pyOpenSSL==18.0.0
PySocks==1.6.8
PyYAML==3.12
requests==2.18.4
ruamel-yaml==0.15.37
six==1.11.0
torch==0.3.1
urllib3==1.22